ul, li {
	list-style: none;
}

.container {
   display: flex;
   gap: 30px;
   height: 100vh;
}

.sideMenu {
   height: 100vh;
   width: 300px;
}

.main {
   width: 100%;
}

.content_item {
   height: 100%;
   align-items: center;
}

.category {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 2px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}

.list_container {
	width: 100%;
	border-collapse: collapse;
}

.list_container th, .list_container td {
	border-bottom: 1px solid #ddd;
	padding: 10px 8px;
}

.list_container th {
	background: #f7f7f7;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.page {
	margin-top: 20px;
	text-align: center;
}

.page a {
	margin: 0 5px;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.page a.active {
	background-color: #2f49ff;
	color: white;
	border-color: #2f49ff;
}